body{
  height:100%;
  color: gold;
}
.container{
  background-image: url("https://images2.alphacoders.com/722/thumb-1920-72270.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height:100%;
  position:relative;
  padding: 150px;
}
nav {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    margin-right: 0%;
}

nav>ul {
    text-align: right;
}

nav>ul>li {
    display: inline-block;
}

nav ul li a {
    padding: 18px;
    margin-right: 0;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    color: rgba(255, 255, 255, 0.733);
}

nav>ul>li>a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), insert 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(221, 109, 35, 0.678);
    color: rgba(0, 35, 122, 0.7);
}

.hero-image {
  background-image: url("photographer.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}
.bouts{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 10%;
  background-image: url("http://cdn01.wallconvert.com/_media/wallpapers_1920x1080/1/2/mans-silhouette-in-the-moonlight-14926.jpg");
}
#about{
text-decoration-style: solid;
font-family: sans-serif;
font-style: oblique;
text-align: center;
}
.skills{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 10%;
  background-image: url("https://images.unsplash.com/photo-1479669732031-affb2ce2d265?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bf75bf69532f9d5cf35904fc7e18c010&w=1000&q=80");
}
#me{
  text-decoration-style: solid;
  font-family: sans-serif;
  font-style: oblique;
  text-align: center;
}
.Contacts{
  text-decoration-style: solid;
  font-family: sans-serif;
  font-style: oblique;
  padding: 10%;
  background-image: url("http://wallpaperlepi.com/wp-content/uploads/2014/10/Dark-Adidas-Logo-Wallpaper-HD.jpg");
}
#Contacts{
  text-align: center;
}
